* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  padding: 30px 18%;
  transition: ease .40s;
  overflow: visible;

}

#home {
  position: relative;
  top: 100px;
  right: 0;
  justify-content: space-between;
  background: transparent;
  padding: 0px 0px 0px 100px;
  transition: ease .40s;
}


.Navbar {
  display: inline;
  display: flex;
  width: 100%;
  z-index: 1000;
  height: 60px;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10px;
  overflow: auto;
}



.Navbar a {
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  font-size: var(--p-font);
  padding: 10px 22px 10px 22px;
  border-radius: 4px;
  transition: ease .40s;
}

.Navbar li:last-child {
  position: relative;
  bottom: 5px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  padding: 5px 0px 5px 0px;
}

.Navbar a:hover {
  background: var(--bg-color);
  color: var(--text-color);
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 4px;
}


.home {
  position: relative;
  height: 300px;
  width: 300px;
  right: 10px;
  left: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}


.home-text h1 {
  font-size: 4em;
  line-height: 1.2;
  color: rgba(24, 30, 75, 1);
  font-family: 'Volkhov', sans-serif;
  letter-spacing: -4px;
  margin-bottom: 30px;
  width: 400px;
  left: 0;

}

.pseudo {
  font-weight: bold;
  color: rgb(208, 164, 102);
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
}

.disc {
  width: 450px;
  color: rgba(94, 98, 130, 1);
  font-size: 16px;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
}


.home-btn {
  display: inline-block;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  font-size: 15px;
  padding: 13px 10px;
  background: rgba(241, 165, 1, 1);
  border-radius: 10px;
  transition: ease .40s;
}

.home-btn:hover {
  transform: scale(1.1);
  color: var(--text-color);
}

.play {
  position: relative;
  top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  transition: ease 0.3s;
}

.home-btn2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 460;
  color: rgba(104, 109, 119, 1);
}

.play:hover {
  transform: scale(1.1);
}

.H-image {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  object-fit: contain;
  width: 505pt;
  right: 0;
  z-index: 0;

}

.H-image-b {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  object-fit: cover;
  width: 472pt;
  right: 0;
  z-index: -1;
}

.category {
  position: relative;
  justify-content: center;
  justify-items: center;
  z-index: 100;
  top: 200px;

}

.contH {
  position: relative;
  z-index: 100;
  top: 300px;
  justify-content: center;

}


.sudo-H {
  position: relative;
  display: flex;
  left: 130px;
  width: 40%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(94, 98, 130, 1);
  margin-bottom: 10px;
}

.S-Head {
  position: relative;
  display: flex;
  font-family: 'Volkhov', sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: rgba(20, 24, 62, 1);
}

.container {
  position: relative;
  left: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  top: 300px;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 20px;
}

.cont-img {
  position: relative;
  left: 5vh;
}

.cont-img img:nth-of-type(4) {
  width: 10px;
}


.cont-box {
  padding: 30px 30px 30px 30px;
  transition: ease 0.3s;
}

.cont-box:hover {
  border-radius: 10%;
  box-shadow: 0px 20px 30px rgba(111, 111, 111, 0.1);
  transform: scale(1.1);
}

.container h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: .9em;
  color: rgba(30, 29, 76, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.container p {
  position: relative;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  font-weight: 450;
  font-size: 14px;
  width: 160px;
  left: 16px;
  top: 10px;
  color: rgba(94, 98, 130, 1);
}

#Contact {
  position: absolute;
  left: 100px;
  width: 75%;
  top: 3000px
}

.main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.list {
  position: relative;
  width: 20%;
  left: 100px;
}

.list h1 {
  position: relative;
  font-weight: var(--p-font);
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  color: rgba(24, 30, 75, 1);
}

.list h3 {
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  margin-bottom: 14pt;
  margin-left: 100px;
}

.list ul li:not(last-child) {
  margin-bottom: 8px;
}

.list ul li a {
  font-family: 'Poppins', sans-serif;
  font-weight: 410;
  color: rgba(94, 98, 130, 1);
}

.list ul:first-of-type {
  margin-left: 100px;
}

.list p {
  font-family: 'Poppins', sans-serif;
  color: rgba(94, 98, 130, 1);
  font-size: 13px;
  width: 220px;
  font-weight: 410
}

.list h1,
p {
  bottom: 30px;
}



.list .socials a {
  position: relative;
  left: 40px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  color: var(--main-color);
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 24px;
  margin-right: 20px;
  box-shadow: 5px 5px 30px rgb(102, 88, 88);
}

.list .socials a:nth-of-type(2) {
  background-image: url(../imgs/Background.svg);
  background-position: 50%;
  background-size: 100px;
  object-fit: cover;
  color: white;
}

.list .socials p {
  position: relative;
  left: 63px;
  top: 20px;
  font-size: 15px;
  font-weight: 410;
}

.list .socials img {
  position: relative;
  display: inline;
  left: 35px;
  top: 40px;
  transition: ease 0.3s;
}

.list .socials img:hover {
  cursor: pointer;
}

.CR {
  position: relative;
  left: 54%;
  top: 10vh;
  font-family: 'Poppins', sans-serif;
  color: rgba(94, 98, 130, 1);
  font-size: 13px;
  width: 220px;
  font-weight: 410;
  margin-bottom: 10%;
}

.category-2 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  row-gap : 330px;
  top: 300px;
  left: 340px;
  margin-bottom: 100px;
  width: 50%;

}

.container-2 {
  position: relative;
  transition: ease 0.3s;
}

.cont-img-2 img {
  position: absolute;
  object-fit: contain;
  width: 200px;
  z-index: 10;
}

.container-2 p {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
  font-weight: 450;
  font-size: 12px;
  width: 200px;
  top: 220px;
  left: 10px;
  color: rgba(94, 98, 130, 1);
  z-index: 1000;
}

.container-2 p:nth-of-type(2) {
  top: 220px;
  left: 150px;
}

.container-2 p:nth-of-type(3) {
  top: 260px;
  left: 40px;
}

.container-2 .arr {
  position: absolute;
  top: 265px;
  left: 3vh;
  display: inline;
  z-index: 10000;
  object-fit: contain;
  width: 13px;
}

.BG {
  position: absolute;
  top: 200px;
  padding: 44px 174px 55px 27px;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  border-radius: 0vh 0px 20px 20px;
  box-shadow: -3px 3px 10px rgb(0, 0, 0, 0.4);
}

.container-2:hover {
  transform: scale(1.2);
  filter:contrast(140%);
  z-index: 1000;
}
.contH2 {
  position: absolute;
  bottom: 1100px;
  left : 210px;
  width: 100%;
} 

.sudo-H2 {
  position: absolute;
  display: flex;
  left: 120px;
  width: 40%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(94, 98, 130, 1);
  margin-bottom: 10px;
bottom: 0;
}
.S2-Head {
  position: absolute;
  display: flex;
  font-family: 'Volkhov', sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: rgba(20, 24, 62, 1);
  left: 19px;
}

.Dest {
  position: relative;
  top: 700px;
  left: 340px;
}

.trip h1 {
  position: absolute;
  font-family: 'Volkhov', sans-serif;
  font-weight: bold;
  color : rgba(20, 24, 62, 1);
  bottom: 300px;
  width: 24%;
  font-size: 33px;
}

.sudo p {
  position: absolute;
  bottom: 390px;
  color: rgba(94, 98, 130, 1);
  font-weight: 410;
  font-family: 'Poppins', sans-serif;
}

.main-c {
  position: relative;
  left: 100px;
  
}
